<!-- wp:template-part {"slug":"header-v1","theme":"udemy-main"} /-->
<!-- wp:group {"className":"container !mx-auto my-32 text-center","layout":{"type":"constrained"}} -->
<div class="wp-block-group container !mx-auto my-32 text-center"><!-- wp:heading {"className":"text-9xl text-white shadow-404"} -->
    <h2 class="wp-block-heading text-9xl text-white shadow-404">404</h2>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"className":"text-3xl font-medium my-4"} -->
    <h2 class="wp-block-heading text-3xl font-medium my-4">We can't seem to find the page you are looking for.</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","className":"underline underline-offset-4 !mt-4"} -->
    <p class="has-text-align-center underline underline-offset-4 !mt-4"><a href="#">Head back to the home page.</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer-v1","theme":"udemy-main"} /-->