<!-- wp:template-part {"slug":"header-v1","theme":"udemy-main"} /-->

<!-- wp:group {"className":"container !mx-auto pb-5 mb-4 mt-12","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group container !mx-auto pb-5 mb-4 mt-12"><!-- wp:post-title {"isLink":true,"linkTarget":"_blank","className":"text-4xl mb-4 font-medium text-gray-700"} /-->

    <!-- wp:post-featured-image {"className":"block rounded-lg overflow-hidden mb-4"} /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:heading {"className":"text-2xl font-medium"} -->
    <h2 class="wp-block-heading text-2xl font-medium">Comments</h2>
    <!-- /wp:heading -->
    
    <!-- wp:comments -->
    <div class="wp-block-comments"><!-- wp:comment-template -->
    <!-- wp:columns {"isStackedOnMobile":false,"className":"flex items-start py-6 border-b border-b-gray-200"} -->
    <div class="wp-block-columns is-not-stacked-on-mobile flex items-start py-6 border-b border-b-gray-200"><!-- wp:column {"width":"4rem","className":"w-16"} -->
    <div class="wp-block-column w-16" style="flex-basis:4rem"><!-- wp:avatar {"size":39,"style":{"border":{"radius":"20px"}},"className":"rounded-full w-16"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"className":"pl-4"} -->
    <div class="wp-block-column pl-4"><!-- wp:comment-author-name {"isLink":false,"className":"mb-2 font-medium","fontSize":"small"} /-->
    
    <!-- wp:comment-content {"className":"mb-2"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:post-comments-form {"className":"comments-section"} /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer-v1","theme":"udemy-main"} /-->